@tailwind components;

@layer components {
  .btn {
    @apply hover:opacity-75 bg-blueDarker flex items-center text-white py-3 px-3;
  }
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--display-font);
}

.menu-wrapper li > ul {
  transform: translatex(100%) scale(0);
}

.menu-wrapper li:hover > ul {
  transform: translatex(0%) scale(1);
}
