@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");

/*
*  Set styles here that will be applied to both Gutenberg 
*  editor and public fronting site.
*/

body {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", sans-serif;
}

.menu-wrapper li > ul {
  transform: translatex(100%) scale(0);
}

.menu-wrapper li:hover > ul {
  transform: translatex(0%) scale(1);
}
